<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/nvd3/nv.d3.css"/>
    <link rel="stylesheet" href="lib/select2/select2.css">
    <link rel="stylesheet" href="lib/ngprogress/ngProgress.css">
    <title>Monitora ES</title>
</head>

<body ng-app="monitora">

<header>
    <div class="topo">
        <br/>
    </div>
    <div class="col-md-12">
        <h1>Monitoramento ES</h1><h2>ver 0.1alfa</h2>
        <h2>Monitoramento de dados do ES</h2>
    </div>
</header>

<div class="col-md-12">
    <section id="main_content" class="col-md-10">
        <h3>
            <a id="welcome" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a>Pesquisa de Consumo de Água e Esgoto.</h3>

        <p>O objetivo dessa pesquisa, é mostrar os consumos de despesas do governo, como estamos em época de racionamento
        de água, porque não analisarmos o que o governo tem consumido?</p>

        <p>Baseando nos dados de <a href="http://www.transparencia.es.gov.br/">transparência</a> do governo, filtramos todo o
        consumo de água e esgoto durante o evento <a href="http://ccdvv.com.br/eventos/open-data-day/">Opendata Day</a>.</p>
        
        
        <p>Enjoy! :D</p>

        <div id="g1" ng-controller="ChartControllerOrgao">
            <h3>
                <a id="consumo-por-orgao" class="anchor" href="#consumo-por-orgao" aria-hidden="true"><span
                        class="octicon octicon-link"></span></a>Órgãos que mais consomem.</h3>
            <p>Você pode selecionar quantos órgaos pode observar e o ano</p>
            <div class="col-md-12">
                <label>Ano</label>
                <select ui-select2 ng-model="ano" ng-change="valChange()" data-placeholder="Selecione um Ano">
                    <option ng-repeat="ano in anos" value="{{ano.value}}">{{ano.value}}</option>
                </select>
            </div>

            <div class="col-md-12">
                <label>Quantidade (Top {{top}} que mais gastaram)</label>
                <input ng-model="top" class="col-md-4" ng-change="valChange()" type="range" min="1" max="10">
            </div>


            <hr class="col-md-12">
            <svg class="orgao" height="600"></svg>
        </div>
        <hr class="col-md-12">
        <div id="g2" ng-controller="ChartControllerFornecedor">
            <h3>
                <a id="consumo-por-fornecedor" class="anchor" href="#consumo-por-fornecedor" aria-hidden="true"><span
                        class="octicon octicon-link"></span></a>Fornecedores que mais consomem.</h3>
            
            <p>Você pode selecionar quantos fornecedores pode observar e o ano</p>
            <div class="col-md-4">
                <label>Ano</label>
                <select ui-select2 ng-model="ano" ng-change="valChange()" data-placeholder="Selecione um Ano">
                    <option ng-repeat="ano in anos" value="{{ano.value}}">{{ano.value}}</option>
                </select>
            </div>

            <div class="col-md-12">
                <label>Quantidade (Top {{top}} que mais gastaram)</label>
                <input ng-model="top" class="col-md-4" ng-change="valChange()" type="range" min="1" max="10">
            </div>


            <hr class="col-md-12">
            <svg class="favorecido" height="600"></svg>
        </div>
        <hr class="col-md-12">
        <div id="g3" ng-controller="ChartControllerAcao">
            <h3>
                <a id="consumo-por-acao" class="anchor" href="#consumo-por-acao" aria-hidden="true"><span
                        class="octicon octicon-link"></span></a>Programas de Governo que mais consomem.</h3>

            <p>Você pode selecionar quantos programas de governo pode observar e o ano</p>
            <div class="col-md-12">
                <label>Ano</label>
                <select ui-select2 ng-model="ano" ng-change="valChange()" data-placeholder="Selecione um Ano">
                    <option ng-repeat="ano in anos" value="{{ano.value}}">{{ano.value}}</option>
                </select>
            </div>

            <div class="col-md-12">
                <label>Quantidade (Top {{top}} que mais gastaram)</label>
                <input ng-model="top" class="col-md-4" ng-change="valChange()" type="range" min="1" max="10">
            </div>
            <hr class="col-md-12">
            <svg class="acao" height="600"></svg>
        </div>


    </section>
</div>
<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="lib/underscore/underscore-min.js"></script>
<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/angular/angular.min.js"></script>
<script type="text/javascript" src="lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="lib/d3/d3.js"></script>
<script type="text/javascript" src="lib/nvd3/nv.d3.js"></script>
<script type="text/javascript" src="lib/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.min.js"></script>
<script type="text/javascript" src="lib/select2/select2.js"></script>
<script type="text/javascript" src="lib/angular-ui-select2/src/select2.js"></script>
<script type="text/javascript" src="lib/ngprogress/build/ngProgress.min.js"></script>
<!--last one script aways-->
<script type="text/javascript" src="javascripts/main.js"></script>
<!--biblioteca para realizar gráficos-->
<script type="text/javascript" src="javascripts/Chart.js"></script>
<script type="text/javascript" src="javascripts/controllers/ChartController.js"></script>
<!--<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-43313456-6");
        pageTracker._trackPageview();
    } catch (err) {
    }
</script>-->
</body>
</html>